<h3 class="subsection-title"><?js print( this._title ); ?></h3>
<dl>
    <?js
        this.forEach(function(n, i) {
            var access = typeof n.access == 'undefined' ? '' : n.access;
            var augmented = typeof n.inherited == 'undefined' ? '' : 'augmented';

            /* If the property is noted as a function, then use the method renderer */
            if ( n.type && n.type.names && n.type.names.length === 1 && n.type.names[0] === "function" ) {
                n._class = (i%2 == 0) ? 'even' : 'odd';
                print(render('method.tmpl', n));
                return;
            }

            print(
                '<dt class="'+access+' '+augmented+' '+(i%2==0?'even':'odd')+'">'+ 
                    '<a name="'+n.name+'"></a>'+ 
                    '<a name="'+n.name+'_details"></a>'+ 
                    '<span class="type-attr">'+n.attribs+'</span>'+ 
                    '<span class="type-name">'+
                        '<a href="#'+n.name+'">'+(n.kind == 'class'? 'new ':'')+n.name+'</a>'+
                    '</span>'+ 
                    '<span class="type-sig">'+n.signature+'</span>'
            );
            if (n.summary) {
                print( '<p class="summary">'+n.summary+'</p>' );
            }
            print( '</dt>' );

            print( '<dd class="'+access+' '+augmented+' '+(i%2==0?'even':'odd')+'">' );
            if (n.description) {
                print( n.description );
            }
            
            print('<div class="collapse_details">');
            print(render('details.tmpl', n));

            if (n.properties && n.properties.length) {
                print('<h5>Properties:</h5>');
                print( render('params.tmpl', n.properties) );
            }
    
            if ( n.inherited ) {
                print( 
                    '<h5>Extended from:</h5>'+
                    '<div class="extended">'+
                        '<a href="'+n.inherits.split('#')[0]+'.html">'+
                            '<img src="media/images/extended.png"> '+
                            n.inherits+
                        '</a>'+
                    '</div>'
                )
            }

            if (n.examples && n.examples.length) {
                print('<h5>Example' + (n.examples.length > 1? 's':'') + '</h5>');
                print( render('examples.tmpl', n.examples) );
            }
            print('</div>');
            print( '</dd>' );
        } );
    ?>
</dl>